@import "../styles/globals.css";

@layer base {
  :root {
    @apply font-sans;
  }

  body {
    @apply min-w-[320px] min-h-screen relative m-0 bg-background text-foreground;
  }
}

body {
  background-image: url("./assets/bg.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
